<!DOCTYPE html>
<head>
    <style>
        table, td {
            border: 1px solid black;
        }
    </style>
    <title>Cutting Stock</title>
</head>

<body>
<h2>Welcome to our home page</h2>
<p>Import your file here:</p>
<form method="POST" action="upload/" enctype="multipart/form-data">
    <!-- {% csrf_token %} -->
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Optimize</button>
</form>

<br><br>
{#    Simple row insert, delete:#}
<p>Click the buttons to create and delete row(s) for the table.</p>

<form action="filling_form/" method="post">
    <!-- {% csrf_token %} -->
    <div>
        <h3>Available stock panels </h3>
    </div>
    <table id="available">
        <tbody>
        <tr>
            <th>Length</th>
        </tr>
        <tr class="row_a">
            <td><input type="number" min="0" name="avl_l"></td>
        </tr>
        </tbody>
    </table>

    <br><br>

    <div>
        <h3>Required panels </h3>
    </div>

    <table id="required">
        <tbody>
        <tr>
            <th>Length</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
        <tr class="row_to_clone_r">
            <td><input type="number" min="0" name="req[0].length"></td>
            <td><input type="number" min="1" name="req[0].count"></td>
            <td>
                <button type="button" onclick="myDeleteFunction()">Delete</button>
            </td>
        </tr>
        <tr class="row_to_clone_r">
            <td><input type="number" min="0" name="req[1].length"></td>
            <td><input type="number" min="1" name="req[1].count"></td>
            <td>
                <button type="button" onclick="myDeleteFunction()">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <button onclick="addRow(); return false; ">Add Row</button>
    </div>
    <br><br>
    <input type="submit" value="Optimize">
</form>

<script>
    function addRow() {
        var name = 'required';
        var del_but = "<button type='button' onclick='myDeleteFunction()'>Delete</button>";
        var table = document.getElementById(name);
        var last_index = table.rows.length;
        var name_length = "req[" + last_index + "].length"
        var name_quantity = "req[" + last_index + "].count"
        const input_length = "<input type='number' min='0' name='" + name_length + "'>";
        const input_quantity = "<input type='number' min='0' name='" + name_quantity + "'>";

        var row = table.insertRow(last_index);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);

        cell1.innerHTML = input_length;
        cell2.innerHTML = input_quantity;
        cell3.innerHTML = del_but;
    }

    function myDeleteFunction() {
        var name = 'required';
        var index, table = document.getElementById(name);

        for (var i = 1; i < table.rows.length; i++) {
            table.rows[i].cells[2].onclick = function () {
                index = this.parentElement.rowIndex;
                table.deleteRow(index);
            };
        }
    }
</script>
</body>